# non-dot files
/[^.]*
!/bin

#*
.#*

.android
.bash_history
.bash_sessions
.CFUserTextEncoding
.cups
.DS_Store
.Trash
.emacs.d
.lesshst
.nuuid.ini
.npm
.oracle_jre_usage
.ssh
.psql_history
.rediscli_history
.viminfo
.vim/autoload
.vim/plugged
.authinfo
.newsrc-dribble
.depot_tools
.gsutil
.dbshell
.mongorc.js
.subversion
.dropbox
.gnupg
.go
.docker
.lldb
.config
.kindle
.vpython*
.cache
.s3cfg
.cargo
.gradle
.itmstransporter
.putty
.python_history
.aws